body{
    overflow-x: hidden;
}
.movies-container{
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mainBgColor{
    background-image: url("home-background.png");
    /* background-color:#0c1e25; */
    width: 100%;
}
.secondaryBgColor{
    background-image: url("home-background.png");
    /* background-color: #fff; */
    width: 100%;
}
.movies-container img{
    width: 330px;
    height: 500px;
    margin: 25px 0px 4px 15px;
    border-radius: 18px;
}
.mainColor{
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}
#Nothing{
    display: none;
}
.secondaryColor{
    color: #ff206e;
    width: 90%;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}
.movies-container h3, .movies-container img{
    cursor: pointer;
    transition: .2s;
}
.movies-container img:hover{
    transform: scale(1.05);
}
#container{
    position: relative;
}
#hide{
    display: none;
}
#smaller-Text{
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center;
}
#playIcon{
    position: absolute;
    bottom: 80px;
    left: 25px;
    visibility: visible;
    z-index: 100;
    cursor: pointer;
}
#Exit1{
    position: absolute;
    margin-left: 1450px;
    margin-top: 0px;
    z-index: 999;
}
#Nothing{
    color: green;
}
#NoContainer{
    opacity: 0.35;
}
.DarkTheme{
    color:#fff;
}
.LightThemeClose{
    color: #ff206e;
}